html {
  overflow-y: scroll;
}

.content {
  margin: 0 auto;
  padding-right: 20px;
  padding-bottom: 20px;
  max-width: 640px;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  text-align: left;
}

.wrapper {
  margin-left: 20px;
}

.title {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 35px;
  line-height: 41px;
}

.tabs {
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.tabs__input {
  display: none;
}

.tabs__item {
  position: relative;
}

.tabs__inner::before {
  position: absolute;
  content: "";

  top: 18px;
  left: 20px;

  width: 6px;
  height: 10px;
  background-image: url(../img/arrow.svg);
  background-size: 6px 10px;
}

.tabs__title::before {
  position: absolute;
  content: "";
  background-color: #0179ff;
  width: 2px;
  left: -12px;
  top: 10px;
}

.tabs__input:checked + .tabs__title::before {
  height: calc(100% - 10px);
}

.tabs__input:not(:checked) + .tabs__title::before {
  height: 55%;
}

.tabs__title {
  width: 100%;

  padding: 15px 35px 16px 35px;

  font-size: 13px;
  line-height: 15px;

  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  border-top: 0.5px solid #e8e8e8;
  border-bottom: 0.5px solid #e8e8e8;

  cursor: pointer;
}

.tabs__block {
  border: 1px solid #e8e8e8;
  border-top: none;
  border-bottom: none;
  padding: 10px 40px 15px 20px;
  font-size: 16px;
  color: #5d5d5d;
  max-height: 1000px;
}

.tabs__block > h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.tabs__block > p {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.tabs__block > p > a {
  color: #0179ff;
}

.tabs__block img {
  display: block;
  margin: 0 auto;
  max-width: 510px;
  width: 100%;
}

.tabs__input:not(:checked) ~ .tabs__block {
  max-height: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.tabs__input:checked + .tabs__title > .tabs__inner::before {
  transform: rotate(90deg);
}

.tabs__block,
.tabs__inner::before,
.tabs__title::before {
  transition: 0.5s;
  overflow: hidden;
}
